* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v55_98 {
  width: 100%;
  height: 1549px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v55_99 {
  width: 100%;
  height: 145px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 218px;
  left: 1px;
  overflow: hidden;
}
.v55_103 {
  width: 679px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 246px;
  left: 48px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v55_104 {
  width: 679px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 309px;
  left: 48px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v55_111 {
  width: 186px;
  height: 88px;
  background: rgba(35,209,67,1);
  opacity: 1;
  position: absolute;
  top: 245px;
  left: 1286px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  overflow: hidden;
}
.v55_115 {
  width: 118px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 265px;
  left: 1343px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v55_116 {
  width: 22px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 311px;
  left: 1235px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
  transform: rotate(-89deg);
}
.v55_120 {
  width: 445px;
  height: 87px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 17px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  overflow: hidden;
}
.v55_121 {
  width: 227px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 107px;
  left: 126px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v55_122 {
  width: 52px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 118px;
  left: 440px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v55_128 {
  width: 100%;
  height: 466px;
  background: rgba(117,107,107,1);
  opacity: 1;
  position: absolute;
  top: 343px;
  left: 4px;
  overflow: hidden;
}
.v55_137 {
  width: 100%;
  height: 65px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 366px;
  left: 0px;
  overflow: hidden;
}
.v55_213 {
  width: 100%;
  height: 67px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 434px;
  left: 3px;
  overflow: hidden;
}
.v55_219 {
  width: 294px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 452px;
  left: 39px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v55_215 {
  width: 100%;
  height: 67px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 504px;
  left: 0px;
  overflow: hidden;
}
.v55_217 {
  width: 100%;
  height: 67px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 574px;
  left: 1px;
  overflow: hidden;
}
.v55_221 {
  width: 100%;
  height: 67px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 644px;
  left: 4px;
  overflow: hidden;
}
.v56_225 {
  width: 100%;
  height: 67px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 714px;
  left: 0px;
  overflow: hidden;
}
.v55_145 {
  width: 173px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 381px;
  left: 39px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v55_160 {
  width: 316px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 590px;
  left: 39px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v55_223 {
  width: 316px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 660px;
  left: 39px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v56_227 {
  width: 316px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 729px;
  left: 39px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v55_161 {
  width: 173px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 520px;
  left: 39px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v55_194 {
  width: 100%;
  height: 145px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 837px;
  left: 4px;
  overflow: hidden;
}
.v55_195 {
  width: 100%;
  height: 145px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1017px;
  left: 4px;
  overflow: hidden;
}
.v55_196 {
  width: 100%;
  height: 145px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1197px;
  left: 4px;
  overflow: hidden;
}
.v55_197 {
  width: 100%;
  height: 145px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 837px;
  left: 4px;
  overflow: hidden;
}
.v55_198 {
  width: 100%;
  height: 145px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1017px;
  left: 4px;
  overflow: hidden;
}
.v55_199 {
  width: 100%;
  height: 145px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1197px;
  left: 4px;
  overflow: hidden;
}
.v55_200 {
  width: 679px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 928px;
  left: 44px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v55_201 {
  width: 679px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1119px;
  left: 44px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v55_202 {
  width: 679px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1284px;
  left: 44px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v55_203 {
  width: 679px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 858px;
  left: 44px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v55_204 {
  width: 679px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1045px;
  left: 44px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v55_205 {
  width: 679px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1230px;
  left: 44px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v55_206 {
  width: 186px;
  height: 88px;
  background: rgba(228,199,16,1);
  opacity: 1;
  position: absolute;
  top: 862px;
  left: 1282px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  overflow: hidden;
}
.v55_207 {
  width: 186px;
  height: 88px;
  background: rgba(196,27,27,1);
  opacity: 1;
  position: absolute;
  top: 1045px;
  left: 1282px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  overflow: hidden;
}
.v55_208 {
  width: 186px;
  height: 88px;
  background: rgba(127,118,118,1);
  opacity: 1;
  position: absolute;
  top: 1216px;
  left: 1282px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  overflow: hidden;
}
.v55_209 {
  width: 22px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 909px;
  left: 1266px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v55_210 {
  width: 22px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1089px;
  left: 1266px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v55_211 {
  width: 22px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1259px;
  left: 1266px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v56_244 {
  width: 175px;
  height: 43px;
  background: rgba(117,107,107,1);
  opacity: 1;
  position: absolute;
  top: 656px;
  left: 1297px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  overflow: hidden;
}
.v56_229 {
  width: 175px;
  height: 43px;
  background: rgba(35,209,67,1);
  opacity: 1;
  position: absolute;
  top: 446px;
  left: 1297px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  overflow: hidden;
}
.v56_231 {
  width: 175px;
  height: 43px;
  background: rgba(228,199,16,1);
  opacity: 1;
  position: absolute;
  top: 520px;
  left: 1297px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  overflow: hidden;
}
.v56_233 {
  width: 175px;
  height: 43px;
  background: rgba(228,154,16,1);
  opacity: 1;
  position: absolute;
  top: 593px;
  left: 1297px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  overflow: hidden;
}
.v56_235 {
  width: 175px;
  height: 43px;
  background: rgba(117,107,107,1);
  opacity: 1;
  position: absolute;
  top: 380px;
  left: 1297px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  overflow: hidden;
}
.v56_237 {
  width: 175px;
  height: 43px;
  background: rgba(35,209,67,1);
  opacity: 1;
  position: absolute;
  top: 725px;
  left: 1297px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  overflow: hidden;
}
.v56_239 {
  width: 131px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 726px;
  left: 1350px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v56_240 {
  width: 131px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 726px;
  left: 1350px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v56_248 {
  width: 131px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 451px;
  left: 1350px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v56_250 {
  width: 131px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 599px;
  left: 1354px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v56_242 {
  width: 131px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 656px;
  left: 1378px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v56_246 {
  width: 131px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 383px;
  left: 1374px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v56_252 {
  width: 131px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 524px;
  left: 1350px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v60_419 {
  width: 22px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 390px;
  left: 1282px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v60_421 {
  width: 22px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 461px;
  left: 1282px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v60_423 {
  width: 22px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 530px;
  left: 1282px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v60_425 {
  width: 22px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 598px;
  left: 1282px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v60_427 {
  width: 22px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 668px;
  left: 1282px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v60_429 {
  width: 22px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 738px;
  left: 1283px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
